*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; // 1rem = 10px;  10px/16px = 62.5%
    box-sizing: border-box;
}

body {
    padding: 6rem 4rem 10rem;
    line-height: 1.7;
    color: $color-gray;
    min-height: 100vh;
    background-color: $color-bg;
}