// COLORS 
$color-primary: #67b26f;
$color-secondary: #4ca2cd;
$color-tertiary: #5aaa9d;

$color-white: #fff;
$color-subtle-white: #eee;
$color-subtle-white-2: #e1e1e1;

$color-gray: #555;
$color-gray-light: #999;

$color-bg: #2f2f2f;

$color-black: #000;